<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Category Form</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="all"  href="../../css/form.css" th:href="@{/css/form.css}" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h4>add/update category</h4>
			</div>
			<div class="form col-sm-6">
				<form th:object="${category}" th:action="@{/products/processCategoryForm}" method="post">
				  <input type="hidden" th:field="*{id}">
				  <div class="form-group">
				    <label for="formGroupExampleInput">Name:</label>
				    
				    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Name error message</p>
					    <input th:field="*{name}" type="text" class="form-control">
					    
				  </div>
				  <div class="" >
				  	<a th:href="@{/products}" class="btn btn-outline-danger" role="button">Cancel</a>
				  	<button type="submit" class="btn btn-primary save">Save</button>
				  </div>
				</form>
			</div>
			
		</div>	
	</body>
</html>